body {
    background-color: #0b0c10;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    text-align: center;
    padding: 30px;
}

h1 {
    color: #66fcf1;
    margin-bottom: 20px;
}

.error {
    color: #ff4c4c;
    margin-top: 10px;
}

/* Кнопки переключения (All / Favorites) */
.view-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.view-buttons button {
    background-color: #1f2833;
    border: 1px solid #45a29e;
    color: #66fcf1;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.view-buttons button.active,
.view-buttons button:hover {
    background-color: #45a29e;
    color: #0b0c10;
}
