body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a; /* глубокий тёмно-синий */
    color: #f1f5f9;
}

h1, h2, h3 {
    color: #38bdf8;
}

button, .btn {
    cursor: pointer;
    background: #1e293b;
    color: #e2e8f0;
    border: 1px solid #334155;
    border-radius: 8px;
    padding: 0.5rem 1.2rem;
    transition: 0.2s;
}
button:hover, .btn:hover {
    background: #334155;
}
.active {
    background-color: #38bdf8;
    color: #0f172a;
}
.error {
    color: #f87171;
}
